body {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Kodchasan', sans-serif;
}

div.mainContainer {
	max-width: 100%;
	height: auto;
	background: url("bg.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
}

.kodchasanFont {
	font-family: 'Kodchasan', sans-serif !important;
	font-weight: bold;
}

.antonFont {
	font-family: 'Anton', sans-serif !important;
}

.subTitle {
	font-size: 14px;
}

.subTitleDes {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	font-family: 'Baloo Bhai', cursive !important;
}

.logo {
	text-align: left;
	padding-left: 10px;
	padding-top: 15px;
}

.messageFont {
	font-size: 40px;
	font-family: 'Baloo Bhai', cursive;
	font-weight: bold;
}

div.containerMessage {
	text-align: center;
	align: center;
	margin-left: 75px;
	margin-right: 75px;
}

@media all and (max-width: 768px) {
	.logo {
		text-align: left;
		padding-left: 5px;
		padding-top: 8px;
	}
	
	.messageFont {
		font-size: 32px;
		font-family: 'Baloo Bhai', cursive;
		font-weight: bold;
	}
	
	div.containerMessage {
		text-align: center;
		margin-left: 24px;
		margin-right: 24px;
	}
	
	.sizeCard {
		width: 60%;
		height: auto;
		align: center;
	}
}


.sizeCard {
	width: 75%;
	height: auto;
	align: center;
}

.center {
	text-align: center;
	align: center;
}

.sizePic {
	height: 125px;
	width: 125px;
}