html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
}
progress {
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none!important;
}
a:active, a:hover {
    outline-width: 0;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
figure {
    margin: 1em 40px;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
optgroup {
    font-weight: bold;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,  [type=button]::-moz-focus-inner,  [type=reset]::-moz-focus-inner,  [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,  [type=button]:-moz-focusring,  [type=reset]:-moz-focusring,  [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
[type=checkbox], [type=radio] {
    padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
/* End extract */
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    overflow-x: hidden;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
.twin-serif {
    font-family: serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.twin-wide {
    letter-spacing: 4px;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.twin-image {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
a {
    color: inherit;
}
.twin-table, .twin-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.twin-table-all {
    border: 1px solid #ccc;
}
.twin-bordered tr, .twin-table-all tr {
    border-bottom: 1px solid #ddd;
}
.twin-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
.twin-table-all tr:nth-child(odd) {
    background-color: #fff;
}
.twin-table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}
.twin-hoverable tbody tr:hover, .twin-ul.twin-hoverable li:hover {
    background-color: #ccc;
}
.twin-centered tr th, .twin-centered tr td {
    text-align: center;
}
.twin-table td, .twin-table th, .twin-table-all td, .twin-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.twin-table th:first-child, .twin-table td:first-child, .twin-table-all th:first-child, .twin-table-all td:first-child {
    padding-left: 16px;
}
.twin-btn, .twin-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.twin-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.twin-btn, .twin-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
   
.twin-disabled, .twin-btn:disabled, .twin-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}
.twin-disabled *, :disabled * {
    pointer-events: none;
}
.twin-btn.twin-disabled:hover, .twin-btn:disabled:hover {
    box-shadow: none;
}
.twin-badge, .twin-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.twin-badge {
    border-radius: 50%}
.twin-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.twin-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.twin-ul li:last-child {
    border-bottom: none;
}
.twin-tooltip, .twin-display-container {
    position: relative;
}
.twin-tooltip .twin-text {
    display: none;
}
.twin-tooltip:hover .twin-text {
    display: inline-block;
}
.twin-ripple:active {
    opacity: 0.5;
}
.twin-ripple {
    transition: opacity 0s;
}
.twin-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%}
.twin-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}
.twin-dropdown-click, .twin-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.twin-dropdown-hover:hover .twin-dropdown-content {
    display: block;
}
.twin-dropdown-hover:first-child, .twin-dropdown-click:hover {
    background-color: #ccc;
    color: #000;
}
.twin-dropdown-hover:hover > .twin-button:first-child, .twin-dropdown-click:hover > .twin-button:first-child {
    background-color: #ccc;
    color: #000;
}
.twin-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.twin-check, .twin-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
.twin-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.twin-bar-block .twin-dropdown-hover, .twin-bar-block .twin-dropdown-click {
    width: 100%}
.twin-bar-block .twin-dropdown-hover .twin-dropdown-content, .twin-bar-block .twin-dropdown-click .twin-dropdown-content {
    min-width: 100%}
.twin-bar-block .twin-dropdown-hover .twin-button, .twin-bar-block .twin-dropdown-click .twin-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}
.twin-main, #main {
    transition: margin-left .4s;
}
.twin-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.twin-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}
.twin-bar {
    width: 100%;
    overflow: hidden;
}
.twin-center .twin-bar {
    display: inline-block;
    width: auto;
}
.twin-bar .twin-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.twin-bar .twin-dropdown-hover, .twin-bar .twin-dropdown-click {
    position: static;
    float: left;
}
.twin-bar .twin-button {
    white-space: normal;
}
.twin-bar-block .twin-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.twin-bar-block.twin-center .twin-bar-item {
    text-align: center;
}
.twin-block {
    display: block;
    width: 100%}
.twin-responsive {
    display: block;
    overflow-x: auto;
}
.twin-container:after, .twin-container:before, .twin-panel:after, .twin-panel:before, .twin-row:after, .twin-row:before, .twin-row-padding:after, .twin-row-padding:before, 
.twin-cell-row:before, .twin-cell-row:after, .twin-clear:after, .twin-clear:before, .twin-bar:before, .twin-bar:after {
    content: "";
    display: table;
    clear: both;
}
.twin-col, .twin-half, .twin-third, .twin-twothird, .twin-threequarter, .twin-quarter {
    float: left;
    width: 100%}
.twin-col.s1 {
    width: 8.33333%}
.twin-col.s2 {
    width: 16.66666%}
.twin-col.s3 {
    width: 24.99999%}
.twin-col.s4 {
    width: 33.33333%}
.twin-col.s5 {
    width: 41.66666%}
.twin-col.s6 {
    width: 49.99999%}
.twin-col.s7 {
    width: 58.33333%}
.twin-col.s8 {
    width: 66.66666%}
.twin-col.s9 {
    width: 74.99999%}
.twin-col.s10 {
    width: 83.33333%}
.twin-col.s11 {
    width: 91.66666%}
.twin-col.s12 {
    width: 99.99999%}
@media (min-width:601px) {
    .twin-col.m1 {
    width: 8.33333%}
.twin-col.m2 {
    width: 16.66666%}
.twin-col.m3, .twin-quarter {
    width: 24.99999%}
.twin-col.m4, .twin-third {
    width: 33.33333%}
.twin-col.m5 {
    width: 41.66666%}
.twin-col.m6, .twin-half {
    width: 49.99999%}
.twin-col.m7 {
    width: 58.33333%}
.twin-col.m8, .twin-twothird {
    width: 66.66666%}
.twin-col.m9, .twin-threequarter {
    width: 74.99999%}
.twin-col.m10 {
    width: 83.33333%}
.twin-col.m11 {
    width: 91.66666%}
.twin-col.m12 {
    width: 99.99999%}
}
@media (min-width:993px) {
    .twin-col.l1 {
    width: 8.33333%}
.twin-col.l2 {
    width: 16.66666%}
.twin-col.l3 {
    width: 24.99999%}
.twin-col.l4 {
    width: 33.33333%}
.twin-col.l5 {
    width: 41.66666%}
.twin-col.l6 {
    width: 49.99999%}
.twin-col.l7 {
    width: 58.33333%}
.twin-col.l8 {
    width: 66.66666%}
.twin-col.l9 {
    width: 74.99999%}
.twin-col.l10 {
    width: 83.33333%}
.twin-col.l11 {
    width: 91.66666%}
.twin-col.l12 {
    width: 99.99999%}
}
.twin-rest {
    overflow: hidden;
}
.twin-stretch {
    margin-left: -16px;
    margin-right: -16px;
}
.twin-content, .twin-auto {
    margin-left: auto;
    margin-right: auto;
}
.twin-content {
    max-width: 980px;
}
.twin-auto {
    max-width: 1140px;
}
.twin-cell-row {
    display: table;
    width: 100%}
.twin-cell {
    display: table-cell;
}
.twin-cell-top {
    vertical-align: top;
}
.twin-cell-middle {
    vertical-align: middle;
}
.twin-cell-bottom {
    vertical-align: bottom;
}
.twin-hide {
    display: none!important;
}
.twin-show-block, .twin-show {
    display: block!important;
}
.twin-show-inline-block {
    display: inline-block!important;
}
@media (max-width:1205px) {
    .twin-auto {
    max-width: 95%}
}
@media (max-width:600px) {
    .twin-modal-content {
    margin: 0 10px;
    width: auto!important;
}
.twin-modal {
    padding-top: 30px;
}
.twin-dropdown-hover.twin-mobile .twin-dropdown-content, .twin-dropdown-click.twin-mobile .twin-dropdown-content {
    position: relative;
}
	
.twin-hide-small {
    display: none!important;
}
.twin-mobile {
    display: block;
    width: 100%!important;
}
.twin-bar-item.twin-mobile, .twin-dropdown-hover.twin-mobile, .twin-dropdown-click.twin-mobile {
    text-align: center;
}
.twin-dropdown-hover.twin-mobile, .twin-dropdown-hover.twin-mobile .twin-btn, .twin-dropdown-hover.twin-mobile .twin-button, .twin-dropdown-click.twin-mobile, .twin-dropdown-click.twin-mobile .twin-btn, .twin-dropdown-click.twin-mobile .twin-button {
    width: 100%}
}
@media (max-width:768px) {
    .twin-modal-content {
    width: 500px;
}
.twin-modal {
    padding-top: 50px;
}
}
@media (min-width:993px) {
    .twin-modal-content {
    width: 900px;
}
.twin-hide-large {
    display: none!important;
}
.twin-sidebar.twin-collapse {
    display: block!important;
}
}
@media (max-width:992px) and (min-width:601px) {
    .twin-hide-medium {
    display: none!important;
}
}
@media (max-width:992px) {
    .twin-sidebar.twin-collapse {
    display: none;
}
.twin-main {
    margin-left: 0!important;
    margin-right: 0!important;
}
.twin-auto {
    max-width: 100%}
}
.twin-top, .twin-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.twin-top {
    top: 0;
}
.twin-bottom {
    bottom: 0;
}
.twin-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.twin-display-topleft {
    position: absolute;
    left: 0;
    top: 0;
}
.twin-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.twin-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.twin-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}
.twin-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.twin-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}
.twin-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
.twin-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.twin-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.twin-display-container:hover .twin-display-hover {
    display: block;
}
.twin-display-container:hover span.twin-display-hover {
    display: inline-block;
}
.twin-display-hover {
    display: none;
}
.twin-display-position {
    position: absolute;
}
.twin-circle {
    border-radius: 50%}
.twin-round-small {
    border-radius: 2px;
}
.twin-round, .twin-round-medium {
    border-radius: 4px;
}
.twin-round-large {
    border-radius: 8px;
}
.twin-round-xlarge {
    border-radius: 16px;
}
.twin-round-xxlarge {
    border-radius: 32px;
}
.twin-row-padding, .twin-row-padding>.twin-half, .twin-row-padding>.twin-third, .twin-row-padding>.twin-twothird, .twin-row-padding>.twin-threequarter, .twin-row-padding>.twin-quarter, .twin-row-padding>.twin-col {
    padding: 0 8px;
}
.twin-container, .twin-panel {
    padding: 0.01em 16px;
}
.twin-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}
.twin-code, .twin-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px;
}
.twin-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
}
.twin-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%}
.twin-card, .twin-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.twin-card-4, .twin-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.twin-spin {
    animation: twin-spin 2s infinite linear;
}
@keyframes twin-spin {
    0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.twin-animate-fading {
    animation: fading 10s infinite;
}
@keyframes fading {
    0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.twin-animate-opacity {
    animation: opac 0.8s;
}
@keyframes opac {
    from {
    opacity: 0;
}
 to {
    opacity: 1;
}
}
.twin-animate-top {
    position: relative;
    animation: animatetop 0.4s;
}
@keyframes animatetop {
    from {
    top: -300px;
    opacity: 0;
}
 to {
    top: 0;
    opacity: 1;
}
}
.twin-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}
@keyframes animateleft {
    from {
    left: -300px;
    opacity: 0;
}
 to {
    left: 0;
    opacity: 1;
}
}
.twin-animate-right {
    position: relative;
    animation: animateright 0.4s;
}
@keyframes animateright {
    from {
    right: -300px;
    opacity: 0;
}
 to {
    right: 0;
    opacity: 1;
}
}
.twin-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}
@keyframes animatebottom {
    from {
    bottom: -300px;
    opacity: 0;
}
 to {
    bottom: 0;
    opacity: 1;
}
}
.twin-animate-zoom  {
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {
    transform: scale(0);
}
 to {
    transform: scale(1);
}
}
.twin-animate-input {
    transition: width 0.4s ease-in-out;
}
.twin-animate-input:focus {
    width: 100%!important;
}
.twin-opacity, .twin-hover-opacity:hover {
    opacity: 0.60;
}
.twin-opacity-off, .twin-hover-opacity-off:hover {
    opacity: 1;
}
.twin-opacity-max {
    opacity: 0.25;
}
.twin-opacity-min {
    opacity: 0.75;
}
.twin-greyscale-max, .twin-grayscale-max, .twin-hover-greyscale:hover, .twin-hover-grayscale:hover {
    filter: grayscale(100%);
}
.twin-greyscale, .twin-grayscale {
    filter: grayscale(75%);
}
.twin-greyscale-min, .twin-grayscale-min {
    filter: grayscale(50%);
}
.twin-sepia {
    filter: sepia(75%);
}
.twin-sepia-max, .twin-hover-sepia:hover {
    filter: sepia(100%);
}
.twin-sepia-min {
    filter: sepia(50%);
}
.twin-tiny {
    font-size: 10px!important;
}
.twin-small {
    font-size: 12px!important;
}
.twin-medium {
    font-size: 15px!important;
}
.twin-large {
    font-size: 18px!important;
}
.twin-xlarge {
    font-size: 24px!important;
}
.twin-xxlarge {
    font-size: 36px!important;
}
.twin-xxxlarge {
    font-size: 48px!important;
}
.twin-jumbo {
    font-size: 64px!important;
}
.twin-left-align {
    text-align: left!important;
}
.twin-right-align {
    text-align: right!important;
}
.twin-justify {
    text-align: justify!important;
}
.twin-center {
    text-align: center!important;
}
.twin-border-0 {
    border: 0!important;
}
.twin-border {
    border: 1px solid #ccc!important;
}
.twin-border-button {
    border: 3px solid #ccc!important;
}
.twin-border-top {
    border-top: 1px solid #ccc!important;
}
.twin-border-bottom {
    border-bottom: 1px solid #ccc!important;
}
.twin-border-left {
    border-left: 1px solid #ccc!important;
}
.twin-border-right {
    border-right: 1px solid #ccc!important;
}
.twin-topbar {
    border-top: 6px solid #ccc!important;
}
.twin-bottombar {
    border-bottom: 6px solid #ccc!important;
}
.twin-leftbar {
    border-left: 6px solid #ccc!important;
}
.twin-rightbar {
    border-right: 6px solid #ccc!important;
}
.twin-section, .twin-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.twin-margin {
    margin: 16px!important;
}
.twin-margin-top {
    margin-top: 16px!important;
}
.twin-margin-bottom {
    margin-bottom: 16px!important;
}
.twin-margin-left {
    margin-left: 16px!important;
}
.twin-margin-right {
    margin-right: 16px!important;
}
.twin-padding-small {
    padding: 4px 8px!important;
}
.twin-padding {
    padding: 8px 16px!important;
}
.twin-padding-large {
    padding: 12px 24px!important;
}
.twin-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}
.twin-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}
.twin-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.twin-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important;
}
.twin-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.twin-left {
    float: left!important;
}
.twin-right {
    float: right!important;
}
.twin-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}
.twin-transparent, .twin-hover-none:hover {
    background-color: transparent!important;
}
.twin-hover-none:hover {
    box-shadow: none!important;
}
/* Colors */
.twin-amber, .twin-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important;
}
.twin-aqua, .twin-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important;
}
.twin-blue, .twin-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}
.twin-light-blue, .twin-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important;
}
.twin-brown, .twin-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important;
}
.twin-cyan, .twin-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important;
}
.twin-blue-grey, .twin-hover-blue-grey:hover, .twin-blue-gray, .twin-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important;
}
.twin-green, .twin-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}
.twin-light-green, .twin-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important;
}
.twin-indigo, .twin-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important;
}
.twin-khaki, .twin-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important;
}
.twin-lime, .twin-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important;
}
.twin-orange, .twin-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important;
}
.twin-deep-orange, .twin-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important;
}
.twin-pink, .twin-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important;
}
.twin-purple, .twin-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important;
}
.twin-deep-purple, .twin-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important;
}
.twin-red, .twin-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important;
}
.twin-sand, .twin-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important;
}
.twin-teal, .twin-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important;
}
.twin-yellow, .twin-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important;
}
.twin-white, .twin-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.twin-black, .twin-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.twin-grey, .twin-hover-grey:hover, .twin-gray, .twin-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important;
}
.twin-light-grey, .twin-hover-light-grey:hover, .twin-light-gray, .twin-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.twin-dark-grey, .twin-hover-dark-grey:hover, .twin-dark-gray, .twin-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important;
}
.twin-pale-red, .twin-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important;
}
.twin-pale-green, .twin-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important;
}
.twin-pale-yellow, .twin-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important;
}
.twin-pale-blue, .twin-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important;
}
.twin-text-amber, .twin-hover-text-amber:hover {
    color: #ffc107!important;
}
.twin-text-aqua, .twin-hover-text-aqua:hover {
    color: #00ffff!important;
}
.twin-text-blue, .twin-hover-text-blue:hover {
    color: #2196F3!important;
}
.twin-text-light-blue, .twin-hover-text-light-blue:hover {
    color: #87CEEB!important;
}
.twin-text-brown, .twin-hover-text-brown:hover {
    color: #795548!important;
}
.twin-text-cyan, .twin-hover-text-cyan:hover {
    color: #00bcd4!important;
}
.twin-text-blue-grey, .twin-hover-text-blue-grey:hover, .twin-text-blue-gray, .twin-hover-text-blue-gray:hover {
    color: #607d8b!important;
}
.twin-text-green, .twin-hover-text-green:hover {
    color: #4CAF50!important;
}
.twin-text-light-green, .twin-hover-text-light-green:hover {
    color: #8bc34a!important;
}
.twin-text-indigo, .twin-hover-text-indigo:hover {
    color: #3f51b5!important;
}
.twin-text-khaki, .twin-hover-text-khaki:hover {
    color: #b4aa50!important;
}
.twin-text-lime, .twin-hover-text-lime:hover {
    color: #cddc39!important;
}
.twin-text-orange, .twin-hover-text-orange:hover {
    color: #ff9800!important;
}
.twin-text-deep-orange, .twin-hover-text-deep-orange:hover {
    color: #ff5722!important;
}
.twin-text-pink, .twin-hover-text-pink:hover {
    color: #e91e63!important;
}
.twin-text-purple, .twin-hover-text-purple:hover {
    color: #9c27b0!important;
}
.twin-text-deep-purple, .twin-hover-text-deep-purple:hover {
    color: #673ab7!important;
}
.twin-text-red, .twin-hover-text-red:hover {
    color: #f44336!important;
}
.twin-text-sand, .twin-hover-text-sand:hover {
    color: #fdf5e6!important;
}
.twin-text-teal, .twin-hover-text-teal:hover {
    color: #009688!important;
}
.twin-text-yellow, .twin-hover-text-yellow:hover {
    color: #d2be0e!important;
}
.twin-text-white, .twin-hover-text-white:hover {
    color: #fff!important;
}
.twin-text-black, .twin-hover-text-black:hover {
    color: #000!important;
}
.twin-text-grey, .twin-hover-text-grey:hover, .twin-text-gray, .twin-hover-text-gray:hover {
    color: #757575!important;
}
.twin-text-light-grey, .twin-hover-text-light-grey:hover, .twin-text-light-gray, .twin-hover-text-light-gray:hover {
    color: #f1f1f1!important;
}
.twin-text-dark-grey, .twin-hover-text-dark-grey:hover, .twin-text-dark-gray, .twin-hover-text-dark-gray:hover {
    color: #3a3a3a!important;
}
.twin-border-amber, .twin-hover-border-amber:hover {
    border-color: #ffc107!important;
}
.twin-border-aqua, .twin-hover-border-aqua:hover {
    border-color: #00ffff!important;
}
.twin-border-blue, .twin-hover-border-blue:hover {
    border-color: #2196F3!important;
}
.twin-border-light-blue, .twin-hover-border-light-blue:hover {
    border-color: #87CEEB!important;
}
.twin-border-brown, .twin-hover-border-brown:hover {
    border-color: #795548!important;
}
.twin-border-cyan, .twin-hover-border-cyan:hover {
    border-color: #00bcd4!important;
}
.twin-border-blue-grey, .twin-hover-border-blue-grey:hover, .twin-border-blue-gray, .twin-hover-border-blue-gray:hover {
    border-color: #607d8b!important;
}
.twin-border-green, .twin-hover-border-green:hover {
    border-color: #4CAF50!important;
}
.twin-border-light-green, .twin-hover-border-light-green:hover {
    border-color: #8bc34a!important;
}
.twin-border-indigo, .twin-hover-border-indigo:hover {
    border-color: #3f51b5!important;
}
.twin-border-khaki, .twin-hover-border-khaki:hover {
    border-color: #f0e68c!important;
}
.twin-border-lime, .twin-hover-border-lime:hover {
    border-color: #cddc39!important;
}
.twin-border-orange, .twin-hover-border-orange:hover {
    border-color: #ff9800!important;
}
.twin-border-deep-orange, .twin-hover-border-deep-orange:hover {
    border-color: #ff5722!important;
}
.twin-border-pink, .twin-hover-border-pink:hover {
    border-color: #e91e63!important;
}
.twin-border-purple, .twin-hover-border-purple:hover {
    border-color: #9c27b0!important;
}
.twin-border-deep-purple, .twin-hover-border-deep-purple:hover {
    border-color: #673ab7!important;
}
.twin-border-red, .twin-hover-border-red:hover {
    border-color: #f44336!important;
}
.twin-border-sand, .twin-hover-border-sand:hover {
    border-color: #fdf5e6!important;
}
.twin-border-teal, .twin-hover-border-teal:hover {
    border-color: #009688!important;
}
.twin-border-yellow, .twin-hover-border-yellow:hover {
    border-color: #ffeb3b!important;
}
.twin-border-white, .twin-hover-border-white:hover {
    border-color: #fff!important;
}
.twin-border-black, .twin-hover-border-black:hover {
    border-color: #000!important;
}
.twin-border-grey, .twin-hover-border-grey:hover, .twin-border-gray, .twin-hover-border-gray:hover {
    border-color: #9e9e9e!important;
}
.twin-border-light-grey, .twin-hover-border-light-grey:hover, .twin-border-light-gray, .twin-hover-border-light-gray:hover {
    border-color: #f1f1f1!important;
}
.twin-border-dark-grey, .twin-hover-border-dark-grey:hover, .twin-border-dark-gray, .twin-hover-border-dark-gray:hover {
    border-color: #616161!important;
}
.twin-border-pale-red, .twin-hover-border-pale-red:hover {
    border-color: #ffe7e7!important;
}
.twin-border-pale-green, .twin-hover-border-pale-green:hover {
    border-color: #e7ffe7!important;
}
.twin-border-pale-yellow, .twin-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important;
}
.twin-border-pale-blue, .twin-hover-border-pale-blue:hover {
    border-color: #e7ffff!important;
}